<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
  <%= f.label("Commenting as ") %><br>
<%= link_to current_user.username, nil %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
